@media screen and (max-width:1450px){
    header {
        justify-content: space-between;
        max-width: 980px;
    }
    .nav img {
        position: absolute;
        top: 0px;
        right: 15px;
    }
    menu {
        width: 465px;
    }
    .wrapper {
        max-width: 980px;
    }
    .cher img {
        display: none;
    }
    .container-content article {
        max-width: auto;
    }
    .container-content {
        max-width: 100%;
    }
    .container-content article .projects .box-text {
        top: 120px;
        left: 100px;
    }
    .container-content .sidebar {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .container-content article .projects {
        width: 410px;
        height: 440px;
    }
    .container-content .center-395 .wrapbox {
        width: 680px;
    }
    .container-content .fondue .wrapbox {
        height: 440px;
    }
    .container-content .sesann .wrapbox {
    width: 680px;
    }
    .container-content .sesann .wrapbox {
        width: 680px;
    }
    .container-content .sidebar .potter .wrapbox {
        width: 590px;
        height: 325px;
        background-repeat: no-repeat; 
    }
    .container-content .sidebar .tabano .wrapbox {
        width: 390px;
        height: 325px;
    }
    .container-content .sidebar .fiji .wrapbox {
        width: 515px;
        height: 325px;
    }
    .container-content .sidebar .timeline .wrapbox {
        width: 465px;
        height: 325px;
    }
    .container-content .sidebar .tabano .box-text {
        bottom: 10px;
        left: 15px;
    }
    .container-content .sidebar .tabano .box-text .view-project {
        flex-direction: column;
        margin: -23px 0 0 122px;
    }
    .container-content .sidebar .tabano .box-text .heart-200 {
        text-align: center;
        top: 0;
    }
    .container-content .sidebar .tabano .box-text i {
        margin: 17px 0 0 20px;
    }
    .container-content .sidebar .tabano .box-text .view-project h3 {
        margin-block-end: 0;
    }
    .container-content .sidebar .tabano .box-text .heart-200 span.number{
        width: 108px;
        text-align: right;
    }
    .container-studio .studio-text {
        max-width: 310px;
        margin: 0;
        padding: 10px;
    }
    .bg-studio {
        width: 350px;
        height: 380px;
    }
    .container-studio .studio-img {
        max-width: 300px;
    }
    .container-news .container {
        margin-top: 0px;
    }
    .bg-news {
        width: 360px;
        height: 390px;
    }
    .text {
        max-width: inherit;
    }
    .staff {
        display: flow-root;
    }
    .container-news .container .box {
        max-width: 280px;
    }
    .map {
        margin: 30px auto;
    }
    footer .container {
        justify-content: center;
        width: 100%;
        margin: 100px 0 0 115px;
    }
}
@media screen and (max-width:1050px){
    .wrapper {
        max-width: 750px;
    }
    header {
        justify-content: space-between;
        max-width: 750px;
    }
    menu {
        width: 465px;
    }
    .nav ul li {
        padding: 40px 40px 0 0;
        text-align: center;
    }
    .nav ul {
        background: #f8c255;
        height: 340px;
        display: block;
    }
    .nav {
        width: 149px;
        height: 120px;
        right: 150px;
        top: 25px;
    }
    .nav img {
        position: absolute;
        right: 15px;
        top: 5px;
        padding-top: 0;
    }
    .container-content .fondue .wrapbox {
        width: 390px;
        height: 360px;
    }
    .container-content article .projects .box-text {
        top: 60px;
        left: 75px;
    }
    .container-content article .projects {
        width: 360px;
        height: 385px;
    }
    .container-content .fondue .wrapbox .box-text {
        padding: 30px 0 0 40px;
    }
    .container-content article .projects .box-text h1 {
        margin-top: 110px;
    }
    .fondue {
        width: 50%;
    }
    .container-content .louis .wrapbox {
        width: 255px;
        height: 420px;
    }
    .container-content .center-395 .wrapbox {
        width: 495px;
        height: 420px;
    }
    .container-content .center-395 .wrapbox .box-text .view-project {
        margin: 0;
    }
    .container-content .center-395 .wrapbox .box-text {
        flex-direction: column;
    }
    .container-content .center-395 .wrapbox .box-text {
        margin: 20px;
    }
    .container-content .center-395 .wrapbox .box-text .view-project .heart-200 {
        text-align: center;
        flex-direction: column;
        display: flex;
    }
    .container-content .sesann .wrapbox {
        width: 480px;
        height: 270px;
        background: url(../img/bg-sessan.png) center;
    }  
.container-content .sesann .box-text {
    bottom: 0px;
    left: 30px;
}
.container-content .sesann .heart-200 {
    margin: 0;
    text-align: center;
}
.container-content .sesann .view-project {
    flex-direction: column;
}
.container-content .alessi .wrapbox {
    width: 270px;
    height: 270px;
}
.container-content .sesann .view-project h3{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    margin-block-end: 0;
    margin-block-start: 0;
}
.container-content .alessi h3 {
    -webkit-margin-after: 10px;
    margin-block-end: 0px;
}
.container-content .sidebar .fiji .wrapbox {
    width: 480px;
    height: 265px;
}
.container-content .sidebar .timeline .wrapbox {
    width: 270px;
    height: 295px;
}
.container-content .sidebar .potter .wrapbox .box-text {
    padding: 30px 0 0 30px;
}
.container-content .sidebar .potter .wrapbox {
    width: 465px;
    height: 265px;
}
.tabano, .potter, .bg-studio {
    margin: auto;
}
.container-studio .studio-info {
    flex-direction: column;
}
.container-studio .studio-text {
    max-width: 465px;
    margin: auto;
}
.staff {
    margin: 70px auto;
    flex-direction: column;
    max-width: 465px;
}
.staff .text {
    max-width: 465px;
    
}
.staff .container {
    flex-direction: column;
}
.box img {
    height: 220px;
}
.bg-news {
    margin: auto;
}
.container-news .container {
    flex-direction: column;
    margin: auto;
}
.map {
    margin: auto;
}
.map img {
    max-width: 465px;
    margin: auto;
}
.bg-news {
    width: 465px;
    height: 500px;
}.container-news .container .box {
    max-width: 370px;
}
.box {
     margin-left: 0; 
}
}
@media screen and (max-width:768px){
    .wrapper {
        max-width: 550px;
    }
    header {
        margin: auto;
        max-width: 560px;
    }
    menu {
        width: 290px;
    }
    menu .wrap-box {
        width: 290px;
    }
    .nav ul li {
        padding: 25px 40px 0 0;
    }
    .nav {
        right: 60px;
    }
    .nav ul {
        height: 282px;
    }
    .container-content article .projects {
        width: 260px;
        height: 275px;
    }
    .container-content article .projects .box-text h1 {
        margin-top: 40px;
        font-size: 30px;
    }
    .container-content .fondue .wrapbox {
        width: 300px;
        height: 265px;
    }
    .container-content .fondue .wrapbox .box-text {
        padding: 15px 0 0 20px;
    }
    .container-content .louis .wrapbox {
        width: 260px;
        height: 420px;
    }
    .container-content .fondue .wrapbox h3 {
        margin-top: 0px;
    }
    .container-content .fondue .wrapbox .box-text div {
        margin: 0px 0 0 65px;
    }
    .container-content .center-395 .wrapbox {
        width: 350px;
        height: 335px;
    }
    .container-content .louis .wrapbox {
        width: 200px;
        height: 335px;
    }
    .container-content .center-395 .wrapbox .box-text {
        margin: 5px;
    }
    .container-content .sesann .wrapbox {
        width: 280px;
        height: 175px;
        background: url(../img/bg-sessan.png) center;
        background-size: cover;
    }
    .container-content .sesann .box-text {
        bottom: -30px;
        left: 25px;
    }
    .container-content .sesann .view-project {
        margin: 16px 0 0 -60px;
    }
    .container-content .sidebar .timeline .wrapbox {
        width: 270px;
        height: 295px;
    }
    .container-content .sidebar .fiji .wrapbox {
        width: 280px;
        height: 200px;
    }
    .container-content .sidebar .fiji .box-text {
        right: 5px;
        top: 0px;
    }
    .tabano, .potter, .bg-studio {
        margin: inherit;
    }
    .container-content .sidebar .potter .wrapbox {
        width: 280px;
        height: 185px;
    }
    .container-content .sidebar .potter .wrapbox .box-text {
        padding: 5px 0 0 10px;
    }
    .container-content .sidebar .tabano .box-text {
        bottom: 20px;
        left: 5px;
    }
    .container-content .sidebar .potter .wrapbox .box-text {
        max-width: 120px;
    }
    .container-content .sidebar .potter .wrapbox {
    width: 280px;
    height: 185px;
}
.container-content .sidebar .potter .wrapbox .box-text h3 {
    font-size: 12px;
}
.container-content .sidebar .tabano .wrapbox {
    width: 270px;
    height: 185px;
}
.container-content .sidebar .potter .wrapbox {
    background: url(../img/bg-potter.png) center;
    background-size: cover;
}
.container-content .sidebar .potter .wrapbox .box-text h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}
.container-content .sidebar .potter .wrapbox .box-text div {
    flex-direction: initial;
}
.container-content .sidebar .tabano .box-text .coll {
    width: 180px;
    margin-top: -35px;
}
.container-content .sidebar .tabano .box-text .view-project h3 {
    margin-block-end: 0;
    font-size: 12px;
}
.container-content .sidebar .tabano .box-text .heart-200 span.number {
    width: auto;
    text-align: center;
}
.container-content .sidebar .tabano .box-text i {
    margin: 0;
}
.container-content .sidebar .tabano .box-text .view-project {
    flex-direction: column;
    margin: -15px 0 0 50px;
}
.container-content .sidebar .tabano .box-text {
    top: 40px;
    left: 5px;
    bottom: 0;
}
.container-content .sidebar .tabano .box-text .view-project {
    flex-direction: column;
    margin: 55px 0 0 -5px;
    width: 120px
}
.container-studio .studio-img {
    max-width: inherit;
}
.staff {
    display: flex;
}
.bg-studio {
    width: 550px;
    height: 555px;
}
.bg-news {
    width: 550px;
    height: 600px;
}
.map img {
    max-width: 550px;
}
footer .container {
    margin: 20px auto;
}
}
@media screen and (max-width:550px){
    header {
        margin: auto;
        max-width: 320px;
    }
    .wrapper {
        max-width: 320px;
    }
    .logo {
        margin: auto;
        text-align: center;
    }
    .gamburger {
        width: 80px;
        height: 70px;
    }
    .gamburger img {
        position: relative;
        top: 27px;
    }
    .nav {
        right: 85px;
        top: 414px;
    }
    menu .wrap-box {
        width: 320px;
        height: 345px;
    }
    .up {
        margin: 20px 0 0 20px;
        line-height: 17px;
    }
    .container-content article .projects {
        width: 320px;
        height: 345px;
    }
    .container-content .fondue .wrapbox .box-text {
        padding: 30px 0 0 0;
    }
    .container-content .fondue .wrapbox {
        width: 320px;
        height: 290px;
    }
    .container-content .fondue .wrapbox h3 {
        margin-top: 20px;
    }
    .container-content .fondue .wrapbox .box-text div {
        margin: 0px 0 0 65px;
    }
    .container-content article .projects .box-text h1 {
        font-size: 40px;
    }
    .container-content .louis .wrapbox {
        width: 320px;
        height: 500px;
    }
    .container-content .center-395 .wrapbox {
        width: 320px;
        height: 245px;
    }
    .container-content .center-395 .wrapbox .box-text .coll h2 {
        font-size: 17px;
    }
    .container-content .center-395 .wrapbox .box-text span {
        font-size: 10px;
    }
    h3 {
        font-size: 12px;
    }
    .container-content .sesann .wrapbox {
        width: 320px;
        height: 190px;
        background-size: cover;
    }
    .wrapbox .box-text .coll h2 {
        font-size: 17px;
    }
     .wrapbox .box-text span {
        font-size: 10px;
    }
    h3 {
        font-size: 12px;
    }
    .container-content .sesann .view-project h3 {
        font-size: 12px;
    }
    .container-content .sesann .heart-200 {
        font-size: 16px;
    }
    .container-content .alessi .wrapbox {
        width: 320px;
        height: 320px;
    }
    .container-content .alessi .wrapbox .view-project { 
        bottom: 80px;
    }
    .container-content .sidebar .timeline .wrapbox {
        width: 320px;
        height: 350px;
    }
    .container-content .sidebar .fiji .box-text {
        right: 0px;
        top: 20px;
    }
    .container-content .sidebar .fiji .wrapbox {
        width: 320px;
        height: 220px;
    }
    .container-content .sidebar .tabano .wrapbox {
        width: 320px;
        height: 230px;
    }
    .container-content .sidebar .tabano .box-text .coll {
        width: 110px;
    }
    .container-content .sidebar .tabano .box-text {
        bottom: 100px;
        left: 20px;
        position: relative;
    }
    .container-content .sesann .view-project h3 {
        font-size: 12px;
    }
    .container-content .sidebar .tabano .box-text i {
        margin: 0;
    }
    .container-content .sidebar .tabano .box-text .heart-200 span.number {
        width: auto;
        text-align: center;
    }
    .container-content .sidebar .tabano .box-text .heart-200 {
        top: 0;
        text-align: center;
    }
    .container-content .sidebar .tabano .box-text .view-project {
        display: flex;
        flex-direction: column;
        width: 145px;
        height: 80px;
        top: 50px;
        left: 185px;
        position: absolute;
    }
    .container-content .sidebar .potter .wrapbox {
        width: 320px;
        height: 190px;
    }
    .container-content .sidebar .potter .wrapbox .box-text h3 {
        font-size: 12px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .container-content .sidebar .potter .wrapbox .box-text div {
        margin: inherit;
        text-align: center;
        width: 100px;
    }
    .bg-studio {
        width: 320px;
        height: 345px;
    }
    .bg-studio h1 {
        position: absolute;
        bottom: 35px;
        letter-spacing: 1px;
        font-size: 40px;
        right: 50px;
        font-weight: 100;
    }
    .container-studio .studio-text {
        max-width: 90%;
    }
    .studio-awards {
        max-width: 90%;
        margin: auto;
    }
    .staff {
        width: 90%;
        margin: 20px auto;
    }
    .box img {
        height: 150px;
    }
    .box {
        margin: 0 0 10px 0;
    }
    .bg-news {
        width: 320px;
        height: 343px;
    }
    .container-studio .studio-img {
        max-width: inherit;
}
    .container-news .container .box {
        max-width: 320px;
        text-align: center;
    }
    .container-news .container .box .text {
        max-width: 90%;
        margin: auto;
    }
    .container-news .container .box span {
        text-align: center;
    }
    .map img {
        max-width: 320px;
        margin: auto;
    }
    footer .container {
        max-width: 90%;
        margin: 50px auto;
    }
    .logo .social-ico {
        margin: 15px 0 0 0px;
    }
    footer .logo {
        margin-left: 40px;
    }
    .bg-news h1 {
        bottom: 50px;
        right: 45px;
    }
    .container-content article .projects .box-text {
        max-width: 245px;
    }
    .container-content .sesann .box-text {
        width: 285px;
    }
}