@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("/fonts/roboto/RobotoCondensed-Regular.ttf"); 
        }
@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/roboto/Roboto-Regular.ttf"); 
        }
@font-face {
        font-family: "RobotoCondensed-Light";
        src: url("/fonts/roboto/RobotoCondensed-Light.ttf"); 
        }
@font-face {
        font-family: "RobotoCondensed-Italic";
        src: url("/fonts/roboto/RobotoCondensed-Italic.ttf"); 
        }
@font-face {
            font-family: "RobotoCondensed-Bold";
            src: url("/fonts/roboto/RobotoCondensed-Bold.ttf"); 
            }
        
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e9eae2;
}
li{list-style: none;}
a{text-decoration: none; color: white;}
.wrapper {
    max-width: 1500px;
    top: 0px;
    padding-top: 0;
    margin: auto;
    position: relative;
    height: 100%;
}
header {
    background: #e9eae2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width:1500px;
}
.cher {
    img{
        display: block;
        max-width: 732px;
        height: auto;
    }
}
.nav {
    position: absolute;
    background: #f8c255;
    width: 725px;
    height: 120px;
    right: 165px;
    top: 40px;
    display: flex;
    display: none;
    ul {
        display: flex;
        font-size: 14px;
        font-family: "Roboto-Regular";
        li {
            padding: 40px 65px 0 0;
        }
    }
     img {
        height: 30px;
        width: 30px;
        padding-top: 50px;
        cursor: pointer;
    }
}
.logo {
    flex-direction: column;
    display: flex;
     a img {
        margin-top: 50px;
    }
    .social-ico {
        color: #7acec3;
        font-size: 22px;
        margin: 60px 0 0 12px;
         i {
            padding-left: 5px;
        }
    }
     span {
        font-family: "RobotoCondensed-Regular";
        font-size: 18px;
        color: #393d3c;
    }
}
menu {
    display: flex;
    flex-direction: column;
    color: white;
    width: 465px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    .wrap-box{
        background: url(../img/Menu.png);
        background-size: cover;
        width: 465px;
        height: 500px;
        background-repeat: no-repeat;
        text-transform: uppercase;
        font-size: 13px;
        font-family: "RobotoCondensed-Regular";
    }
}
.up {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 65px;
    line-height: 17px;
}
.down {
    flex-direction: column;
    display: flex;
    margin: 35px 0 0 140px;
}
.gamburger {
    width: 125px;
    height: 115px;
    border: 2.5px solid white;
    text-align: center;
    margin: 40px auto;
    cursor: pointer;
     img {
        position: relative;
        top: 49px;
    }
}
.container-content {
    display: flex;
    flex-wrap: wrap;
    .sidebar{
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        .potter{
            .wrapbox {
                   background: url(../img/bg-potter.png);
                   background-size: cover;
                   width: 465px;
                   height: 250px;
                   background-repeat: no-repeat;
                   .box-text {
                    display: flex;
                    flex-direction: column;
                    max-width: 150px;
                    font-family: "RobotoCondensed-Light";
                    padding: 30px 0 0 40px;
                    font-size: 12px;
                    h3 {
                        text-transform: uppercase;
                        font-weight: 100;
                        font-size: 18px;
                        margin-top: 10px;
                    }
                     div {
                        flex-direction: column;
                        display: flex;
                        margin: auto;
                        text-align: center;
                        i.far.fa-heart {
                            font-size: 25px;
                        }
                    }
                   
                   }
               }
                 
           }
        .tabano{
            .wrapbox {
                background: url(../img/bg-tabano.png);
                background-size: cover;
                width: 465px;
                height: 465px;
                background-repeat: no-repeat;
                text-transform: uppercase;
                position: relative;
            }
                .box-text {
                    display: flex;
                    position: absolute;
                    bottom: 35px;
                    left: 60px;
                    .coll {
                        max-width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                    .view-project{
                        display: flex;
                        flex-wrap: wrap;
                        margin: -2px 0 0 0px;
                    }
                    i{
                        font-size: 25px;
                        margin: 17px 0 0 20px;}
                        .heart-200 {
                            display: flex;
                            flex-direction: column;
                            text-align: right;
                            position: relative;
                            top: 23px;
                        }
                    }
            
        }
        .fiji{
            .wrapbox {
                background: url(../img/bg-figi.png);
                background-size: cover;
                width: 465px;
                height: 250px;
                background-repeat: no-repeat;
                text-transform: uppercase;
                position: relative;
            }
            .box-text {
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 60px;
                top: 50px;
                .heart-200 {
                    display: flex;
                    flex-direction: column;
                    font-size: 25px;
                    text-align: right;
                    max-width: 100px;
                    }
            }

            
        }
        .timeline{
            .wrapbox {
                background: url(../img/bg-timeline.png);
                background-size: cover;
                width: 465px;
                height: 300px;
                background-repeat: no-repeat;
                text-transform: uppercase;
                .box-text{
                    display: flex;
                    flex-direction: column;
                    padding: 50px 0 0 85px;
                    span{
                        color:white;
                    }
                }    
            }
            
        }
    }
    article{
        display: flex;
        flex-wrap: wrap;
        max-width: 1035px;
        .projects{
            background: url(../img/project.png);
            background-size: cover;
            width: 465px;
            height: 500px;
            background-repeat: no-repeat;
            text-transform: uppercase;
            flex-direction: column;
            display: flex;
            color: white;
            font-size: 13px;
            font-family: "RobotoCondensed-Regular";
            .box-text {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 170px;
                left: 150px;
                h1{
                    font-size: 48px;
                    color: white;
                    padding-left: 50px;
                    font-weight: 100;
                    letter-spacing: 1px;
                }
            }
        }
        
        }
        .fondue{
         .wrapbox {
            background: url(../img/bg-fondue.png);
            background-size: cover;
            width: 570px;
            height: 500px;
            background-repeat: no-repeat;
            text-transform: uppercase;
            flex-direction: column;
            display: flex;
            font-family: "RobotoCondensed-Light";
            .box-text {
                display: flex;
                flex-direction: column;
                padding: 85px 0 0 100px;
                 div {
                    margin: 50px 0 0 65px;
                    display: flex;
                    flex-direction: column;
                    font-size: 25px;
                    
                }
            span{
                font-size: 12px;
            }
            }
            h3 {
                font-weight: 100;
                font-size: 18px;
                margin-top: 75px;
            }
            h2 {
                font-size: 24px;
                letter-spacing: 1px;
            }
            .fa, .fas {
                padding: 7px;
                font-size: 20px;
            }

            }
              
        }
        .louis{
            .wrapbox {
                background: url(../img/bg-louis.png);
                background-size: cover;
                width: 300px;
                height: 465px;
                background-repeat: no-repeat;
                text-transform: uppercase;
                .box-text {
                    color: white;
                    padding: 30px 0 0 40px;
                    display: flex;
                    flex-direction: column;
                    font-family: "RobotoCondensed-Light";
                    span {
                        font-size: 12px;
                    }
                    div {
                        flex-direction: column;
                        display: flex;
                        margin-right: 110px;
                        text-align: center;
                        i.far.fa-heart {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        .center-395{
            .wrapbox {
                background: url(../img/bg-cher.png);
                background-size: cover;
                width: 735px;
                height: 465px;
                background-repeat: no-repeat;
                text-transform: uppercase;
                .box-text{
                    display: flex;
                    margin: 70px;
                    float: right;
                .coll{
                    display: flex;
                    flex-direction: column;
                }
                .view-project {
                    margin: -10px 2px 0px 20px;
                }
                }
            }
        }
        .sesann{
            .wrapbox {
                background: url(../img/bg-sessan.png);
                background-size: cover;
                width: 735px;
                height: 300px;
                background-repeat: no-repeat;
                text-transform: uppercase;
                position: relative;
            }
            .box-text{
                display: flex;
                position: absolute;
                bottom: 15px;
                left: 175px;
                width: 500px;
            }
            .coll{
                display: flex;
                flex-direction: column;
            }
            .view-project {
                display: flex;
                margin: 16px 0 0 40px;
            }
            .heart-200 {
                font-size: 25px;
                flex-direction: column;
                display: flex;
                margin: 17px 0 0 40px;
            }
        }
        .alessi{
            .wrapbox {
                background: url(../img/bg-alessi.png);
                background-size: cover;
                width: 300px;
                height: 300px;
                background-repeat: no-repeat;
                position: relative;
                text-transform: uppercase;
                .box-text{
                    position: absolute;
                    right: 25px;
                    display: flex;
                    flex-direction: column;
                    top: 70px;
                }
                .view-project{
                    position: absolute;
                    right: 17px;
                    bottom: 45px;}
            }
            h3{margin-block-end: 10px;}
            .heart-200{
                display: flex;
                flex-direction: column;
                text-align: right;
                max-width: 100px;
            }
            i {
                font-size: 25px;
            }
        }
    }
span.number {
     color: red;
     margin-top: 5px;
     font-size: 12px;
    }

h2{
    text-transform: uppercase;
    font-size: 24px;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    font-family: "RobotoCondensed-Light";
    margin-block-end: 0;
    margin-bottom: 5px;
}
span.Upper {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    i.fas.fa-arrow-right {
        color: #ebb240;
        padding-right: 10px;
    }
}
.box-text{
    span{font-family: "RobotoCondensed-Light";
    font-size: 12px;}
}
.bg-studio {
    background: url(../img/bg-studio.png);
    background-size: cover;
    width: 465px;
    height: 500px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 13px;
    position: relative;
    h1 {
        position: absolute;
        bottom: 120px;
        letter-spacing: 1px;
        font-size: 48px;
        right: 70px;
        font-weight: 100;
    }
}
.container-studio {
    display: flex;
    background: #e9eae2;
    flex-wrap: wrap;
    .studio-info {
        display: flex;
        margin: auto;
    }
    .awards-list {
        display: flex;
        text-transform: uppercase;
        ul:first-child{
            padding-inline-start: 0px;
            margin-right: 130px;
        }
        ul{
            padding-inline-start: 0px;
     
        }
        li{
            font-family: "RobotoCondensed-Regular";
            font-size: 12px;
        }
    }
    .studio-awards h3 {
        text-align: left;
        font-family: "RobotoCondensed-Bold";
        font-size: 14px;
        margin-block-end: 0;
    }
    .studio-img{
        margin-top: 10px;
        img{width: 100%;}
    }
    .studio-text {
        max-width: 360px;
        margin: 0 50px 0px -30px;
        font-family: "RobotoCondensed-Light";
        b{
            p {
                margin-block-start: 0;
            }
            font-family: "RobotoCondensed-Italic";
            letter-spacing: 1px;
        }
    }
}
.staff {
    width: 80%;
    display: flex;
    margin: 70px auto;
}
.text {
    max-width: 260px;
    font-family: "RobotoCondensed-Light";
    h2 {
        text-transform: uppercase;
        font-size: 14px;
        font-family: "RobotoCondensed-Regular";
    }
    
    
}
.container {
    display: flex;
}
.box {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    h3 {
        font-size: 13px;
        font-family: "RobotoCondensed-Bold";
        margin-block-end: 0;
        color: #333333;
    }
    span {
        font-size: 12px;
        text-transform: uppercase;
        font-family: "RobotoCondensed-Regular";
    }
}

.cv {
    max-width: 46px;
    color: #fd5000;
    margin-top: 15px;
    font-size: 14px;
}
.social-ico {
    text-align: right;
    margin-top: -15px;
    color: #fd5000;
    i {
        padding-right: 7px;
    }
}
i.fas.fa-arrow-left {
    margin-left: 10px;
}
.bg-news {
    background: url(../img/news.png);
    background-size: cover;
    width: 465px;
    height: 500px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    flex-direction: column;
    display: flex;
    color: white;
    font-size: 13px;
    position: relative;
    h1 {
        position: absolute;
        bottom: 120px;
        letter-spacing: 1px;
        font-size: 48px;
        right: 70px;
        font-weight: 100;
        
    }
}


.container-news {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #e5e9df;
    .container{
        margin-top: 50px;
        .box {
            max-width: 370px;
           img {
                margin-bottom: 20px;
            }
            .date {
                font-size: 12px;
                font-family: "RobotoCondensed-Regular";
                color: #838381;
                margin-bottom: 20px;
            }
            h1 {
                font-size: 24px;
                font-family: "RobotoCondensed-Bold";
                text-transform: uppercase;
                margin-block-end: 0;
                color: #333333;
                b {
                    color: white;
                }
            }
            span{
                color: #fd5000;
                text-align: right;
            }
            .text{
                font-size: 12px;
                font-family: "RobotoCondensed-Regular";
                color: #6a6969;
                max-width: 100%;
                text-align: justify;
            }
        }
    } 
}
footer {
    display: flex;
    flex-wrap: wrap;
    background: #e9eae2;
    .container{
        margin: 150px 0 0 115px;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        width: 250px;
        text-transform: UPPERCASE;
        font-family: "RobotoCondensed-Regular";
    }    
    .up {
        margin: 0;
    }
    
    .down {
        margin: 10px 0;
    }
    .logo a img {
        margin-top: 0; 
    }
    .logo {
        margin-left: 60px;
    }
}


