@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("/fonts/roboto/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("/fonts/roboto/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("/fonts/roboto/RobotoCondensed-Italic.ttf");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("/fonts/roboto/RobotoCondensed-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e9eae2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 1500px;
  top: 0px;
  padding-top: 0;
  margin: auto;
  position: relative;
  height: 100%;
}

header {
  background: #e9eae2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 1500px;
}

.cher img {
  display: block;
  max-width: 732px;
  height: auto;
}

.nav {
  position: absolute;
  background: #f8c255;
  width: 725px;
  height: 120px;
  right: 165px;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: "Roboto-Regular";
}

.nav ul li {
  padding: 40px 65px 0 0;
}

.nav img {
  height: 30px;
  width: 30px;
  padding-top: 50px;
  cursor: pointer;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo a img {
  margin-top: 50px;
}

.logo .social-ico {
  color: #7acec3;
  font-size: 22px;
  margin: 60px 0 0 12px;
}

.logo .social-ico i {
  padding-left: 5px;
}

.logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 18px;
  color: #393d3c;
}

menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 465px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

menu .wrap-box {
  background: url(../img/Menu.png);
  background-size: cover;
  width: 465px;
  height: 500px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "RobotoCondensed-Regular";
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px 0 0 65px;
  line-height: 17px;
}

.down {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 0 140px;
}

.gamburger {
  width: 125px;
  height: 115px;
  border: 2.5px solid white;
  text-align: center;
  margin: 40px auto;
  cursor: pointer;
}

.gamburger img {
  position: relative;
  top: 49px;
}

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-content .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
}

.container-content .sidebar .potter .wrapbox {
  background: url(../img/bg-potter.png);
  background-size: cover;
  width: 465px;
  height: 250px;
  background-repeat: no-repeat;
}

.container-content .sidebar .potter .wrapbox .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 150px;
  font-family: "RobotoCondensed-Light";
  padding: 30px 0 0 40px;
  font-size: 12px;
}

.container-content .sidebar .potter .wrapbox .box-text h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  margin-top: 10px;
}

.container-content .sidebar .potter .wrapbox .box-text div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
}

.container-content .sidebar .potter .wrapbox .box-text div i.far.fa-heart {
  font-size: 25px;
}

.container-content .sidebar .tabano .wrapbox {
  background: url(../img/bg-tabano.png);
  background-size: cover;
  width: 465px;
  height: 465px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  position: relative;
}

.container-content .sidebar .tabano .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 60px;
}

.container-content .sidebar .tabano .box-text .coll {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-content .sidebar .tabano .box-text .view-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -2px 0 0 0px;
}

.container-content .sidebar .tabano .box-text i {
  font-size: 25px;
  margin: 17px 0 0 20px;
}

.container-content .sidebar .tabano .box-text .heart-200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  position: relative;
  top: 23px;
}

.container-content .sidebar .fiji .wrapbox {
  background: url(../img/bg-figi.png);
  background-size: cover;
  width: 465px;
  height: 250px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  position: relative;
}

.container-content .sidebar .fiji .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 60px;
  top: 50px;
}

.container-content .sidebar .fiji .box-text .heart-200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
  text-align: right;
  max-width: 100px;
}

.container-content .sidebar .timeline .wrapbox {
  background: url(../img/bg-timeline.png);
  background-size: cover;
  width: 465px;
  height: 300px;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.container-content .sidebar .timeline .wrapbox .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 85px;
}

.container-content .sidebar .timeline .wrapbox .box-text span {
  color: white;
}

.container-content article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1035px;
}

.container-content article .projects {
  background: url(../img/project.png);
  background-size: cover;
  width: 465px;
  height: 500px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 13px;
  font-family: "RobotoCondensed-Regular";
}

.container-content article .projects .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 170px;
  left: 150px;
}

.container-content article .projects .box-text h1 {
  font-size: 48px;
  color: white;
  padding-left: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.container-content .fondue .wrapbox {
  background: url(../img/bg-fondue.png);
  background-size: cover;
  width: 570px;
  height: 500px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "RobotoCondensed-Light";
}

.container-content .fondue .wrapbox .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 85px 0 0 100px;
}

.container-content .fondue .wrapbox .box-text div {
  margin: 50px 0 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
}

.container-content .fondue .wrapbox .box-text span {
  font-size: 12px;
}

.container-content .fondue .wrapbox h3 {
  font-weight: 100;
  font-size: 18px;
  margin-top: 75px;
}

.container-content .fondue .wrapbox h2 {
  font-size: 24px;
  letter-spacing: 1px;
}

.container-content .fondue .wrapbox .fa, .container-content .fondue .wrapbox .fas {
  padding: 7px;
  font-size: 20px;
}

.container-content .louis .wrapbox {
  background: url(../img/bg-louis.png);
  background-size: cover;
  width: 300px;
  height: 465px;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.container-content .louis .wrapbox .box-text {
  color: white;
  padding: 30px 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "RobotoCondensed-Light";
}

.container-content .louis .wrapbox .box-text span {
  font-size: 12px;
}

.container-content .louis .wrapbox .box-text div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 110px;
  text-align: center;
}

.container-content .louis .wrapbox .box-text div i.far.fa-heart {
  font-size: 25px;
}

.container-content .center-395 .wrapbox {
  background: url(../img/bg-cher.png);
  background-size: cover;
  width: 735px;
  height: 465px;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.container-content .center-395 .wrapbox .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px;
  float: right;
}

.container-content .center-395 .wrapbox .box-text .coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-content .center-395 .wrapbox .box-text .view-project {
  margin: -10px 2px 0px 20px;
}

.container-content .sesann .wrapbox {
  background: url(../img/bg-sessan.png);
  background-size: cover;
  width: 735px;
  height: 300px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  position: relative;
}

.container-content .sesann .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 175px;
  width: 500px;
}

.container-content .sesann .coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-content .sesann .view-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 0 40px;
}

.container-content .sesann .heart-200 {
  font-size: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 17px 0 0 40px;
}

.container-content .alessi .wrapbox {
  background: url(../img/bg-alessi.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  position: relative;
  text-transform: uppercase;
}

.container-content .alessi .wrapbox .box-text {
  position: absolute;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 70px;
}

.container-content .alessi .wrapbox .view-project {
  position: absolute;
  right: 17px;
  bottom: 45px;
}

.container-content .alessi h3 {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.container-content .alessi .heart-200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  max-width: 100px;
}

.container-content .alessi i {
  font-size: 25px;
}

span.number {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  font-family: "RobotoCondensed-Light";
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-bottom: 5px;
}

span.Upper {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
}

h3 i.fas.fa-arrow-right {
  color: #ebb240;
  padding-right: 10px;
}

.box-text span {
  font-family: "RobotoCondensed-Light";
  font-size: 12px;
}

.bg-studio {
  background: url(../img/bg-studio.png);
  background-size: cover;
  width: 465px;
  height: 500px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 13px;
  position: relative;
}

.bg-studio h1 {
  position: absolute;
  bottom: 120px;
  letter-spacing: 1px;
  font-size: 48px;
  right: 70px;
  font-weight: 100;
}

.container-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e9eae2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-studio .studio-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.container-studio .awards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.container-studio .awards-list ul:first-child {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-right: 130px;
}

.container-studio .awards-list ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.container-studio .awards-list li {
  font-family: "RobotoCondensed-Regular";
  font-size: 12px;
}

.container-studio .studio-awards h3 {
  text-align: left;
  font-family: "RobotoCondensed-Bold";
  font-size: 14px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container-studio .studio-img {
  margin-top: 10px;
}

.container-studio .studio-img img {
  width: 100%;
}

.container-studio .studio-text {
  max-width: 360px;
  margin: 0 50px 0px -30px;
  font-family: "RobotoCondensed-Light";
}

.container-studio .studio-text b {
  font-family: "RobotoCondensed-Italic";
  letter-spacing: 1px;
}

.container-studio .studio-text b p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.staff {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px auto;
}

.text {
  max-width: 260px;
  font-family: "RobotoCondensed-Light";
}

.text h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "RobotoCondensed-Regular";
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box h3 {
  font-size: 13px;
  font-family: "RobotoCondensed-Bold";
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: #333333;
}

.box span {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "RobotoCondensed-Regular";
}

.cv {
  max-width: 46px;
  color: #fd5000;
  margin-top: 15px;
  font-size: 14px;
}

.social-ico {
  text-align: right;
  margin-top: -15px;
  color: #fd5000;
}

.social-ico i {
  padding-right: 7px;
}

i.fas.fa-arrow-left {
  margin-left: 10px;
}

.bg-news {
  background: url(../img/news.png);
  background-size: cover;
  width: 465px;
  height: 500px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 13px;
  position: relative;
}

.bg-news h1 {
  position: absolute;
  bottom: 120px;
  letter-spacing: 1px;
  font-size: 48px;
  right: 70px;
  font-weight: 100;
}

.container-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: #e5e9df;
}

.container-news .container {
  margin-top: 50px;
}

.container-news .container .box {
  max-width: 370px;
}

.container-news .container .box img {
  margin-bottom: 20px;
}

.container-news .container .box .date {
  font-size: 12px;
  font-family: "RobotoCondensed-Regular";
  color: #838381;
  margin-bottom: 20px;
}

.container-news .container .box h1 {
  font-size: 24px;
  font-family: "RobotoCondensed-Bold";
  text-transform: uppercase;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: #333333;
}

.container-news .container .box h1 b {
  color: white;
}

.container-news .container .box span {
  color: #fd5000;
  text-align: right;
}

.container-news .container .box .text {
  font-size: 12px;
  font-family: "RobotoCondensed-Regular";
  color: #6a6969;
  max-width: 100%;
  text-align: justify;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #e9eae2;
}

footer .container {
  margin: 150px 0 0 115px;
}

footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  text-transform: UPPERCASE;
  font-family: "RobotoCondensed-Regular";
}

footer .up {
  margin: 0;
}

footer .down {
  margin: 10px 0;
}

footer .logo a img {
  margin-top: 0;
}

footer .logo {
  margin-left: 60px;
}
/*# sourceMappingURL=style.css.map */